/* AJAN'S WORK */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Poppins:wght@300&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#top{
    background-image: #fff;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#topHeader{
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #000;
}
.logo{
    display: flex;
    margin: 0 20px;
}
.logo-img img{
    width: 50px;
    margin: 5px 10px;
}
.logo-text h2{
    line-height: 80px;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
}
.links{
    margin: 0 50px;
}
.links li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    transition: .3s;
    width: 50px;
    height: 50px;
    float: left;
    
    
}

.links li :hover{
  
   border-radius: 5px 5px 5px 5px;
   background-color: #000;
 
}
.links li a{
    font-family: 'Poppins', sans-serif;
    color: #242424;
    text-decoration: none;
    font-weight: normal;
    transition: .3s color;
    font-weight: bold;
}
.links li a:hover{
      color: #fff;
}


i.fa-solid, .burger{
    display: none;
    font-size: 30px;
}

.burger i{
    line-height: 80px;
    margin-right: 20px;
}

/* Footer Styling */

footer{
    width: 100%;
    height: 250px;
    background-color: #3b3132;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #fff;
}



.footer-logo{
    width: 150px;
}

.col-links ul li a{
    color: #fff;
    text-decoration: none;
}
.col-links ul li{
    list-style-type:square;
    margin: 5px 0;
   
}


.col-links ul li a{
    font-family: 'Poppins', sans-serif;
}
.col-socials i{
    font-size: 30px;
    transition: .3s;
    margin: 0 5px;
    cursor: pointer;   
}
.col-socials i:hover{
    transform: scale(1.5);   
}
.col-copyright p{
    font-family: 'Poppins', sans-serif;
}

#top{
    background: url('../../images/first.jpg');
}

.text-middle{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    width: 60%;
    margin: 180px auto 0;
    border-radius: 7px;
}
.text-middle h2{
    font-size: 35px;
    padding: 10px;
    color: #fff;
    font-family: 'Teko', sans-serif;
    margin: 20px 0;
}

.btn-learn-more{
    padding: 15px 25px;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid #000;
    transition: .3s;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.btn-learn-more a{
    text-decoration: none;
    color: white;
}
.btn-learn-more:hover{
    background-color: #333333;
}

/* Period Styling */

.period{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.period-reverse{
    flex-direction: row-reverse;
}
.right, .left{
    flex-basis: 50%;
}
.left img{
    width: 100%;
}
.right{
    padding: 20px;
}
.period-title h3{
    font-family: 'Teko', sans-serif;
    font-size: 28px;
    margin: 10px 0;
}
.period-content p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding: 15px;
}
.light{
    background-color: #fff;
    color: black;
}
.dark{
    background-color: #333333;
    color: white;
}


/* Button Design */

.btn{
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}
.btn a{
    text-decoration: none;
}

.btn-dark{
    color: #fff;
    border: 1px solid #fff;
}
.btn-dark a{
    color: #fff;
}
.btn-dark:hover{
    background-color: #fff;
}
.btn-dark:hover > a{
    color: #000;
}
.btn-light{
    color: #000;
    border: 1px solid #333333;
}
.btn-light a{
    color: #000;
}
.btn-light:hover{
    background-color: #333333;
}
.btn-light:hover > a{
    color: #fff;
}

/* Responsive Design */

@media screen and (max-width:768px){
    .title h2{
        margin-top: 20px;
        margin-left: 10px;
    }
    #top{
        height: auto;
    }
    /* navbar sm */
    .links{
        position: absolute;
        width: 0;
        right: 0;
        height: 100%;
        overflow-y: hidden;
        margin: 0;
        padding-top: 150px;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: .5s;
    }
    .links li{
        display: block;
    }
    i.fa-solid, .burger{
        display: block;
        cursor: pointer;
    }
    /* periods sm */
    
    /* GURI'S WORK */
    
    /* footer sm */
    footer{
        text-align: center;
        flex-direction: column;
        height: auto;
    }
    .columns{
        margin: 20px 0;
    }
    .period{
        height: auto;
    }
    .right, .left{
        flex-basis: 100%;
    }
    .text-middle{
        margin: 100px auto;
    }
}